.contact {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px;
  margin-top: 70px;
  margin-bottom: 70px;
  background: #fff; /* White background */
}

.contact-form {
  flex: 1 1 60%; /* Takes up more space */
  display: flex;
  flex-direction: column;

}
.contact-box{
  resize: vertical;
}

.contact-info {
  flex: 1 0 40%; /* Adjusted width */
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically centers content in the available space */
}

.contact-info h1 {
  margin-bottom: 20px;
  font-size: 32px; /* Larger font size for heading */
  font-weight: bold;
}

.contact-info p {
  margin-bottom: 10px;
  font-size: 18px; /* Larger font size for text */
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 20px;
  padding: 15px; /* More padding for better text visibility */
  border: 2px solid #ccc; /* Slightly thicker border */
  border-radius: 8px; /* Rounded corners */
  background: #FFFFFF; /* Ensures background is white */
  color: #000000; /* Sets text color to black */
}

.contact-form button {
  padding: 12px 24px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px; /* Rounded corners */
  font-size: 16px; /* Larger font size for readability */
}



/* Adjusts layout for smaller screens */
@media (max-width: 1024px) {
  .contact {
    flex-direction: column;
    align-items: center; /* Centers the content on smaller screens */
  }

  .contact-form,
  .contact-info {
    width: 100%;
    padding: 0;
  }

  .contact-info {
    padding-top: 20px;
  }
}

@media (max-width: 600px) {
  .contact-form input,
  .contact-form textarea,
  .contact-form button {
    width: 100%; /* Ensures full width on small devices */
  }

  .contact-info h1,
  .contact-info p {
    text-align: center; /* Centers text on very small screens */
  }
}
