.app .skills {
    margin: 0 112px 40px 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1216px;
    box-sizing: border-box;
  }
  .app .row {
    margin: 0 0px 40px 0;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }

  .app .my {
    margin-right: 16.5px;
    overflow-wrap: break-word;
    font-family: 'Sora', sans-serif;
    font-weight: 400;
    font-size: 48px;
    letter-spacing: -1px;
    line-height: 1.167;
    color: #000000;
  }
  
  .app .skills-1 {
    overflow-wrap: break-word;
    font-family: 'Sora', sans-serif;
    font-weight: 800;
    font-size: 48px;
    letter-spacing: -1px;
    line-height: 1.167;
    color: #000000;
  }

  .app .row-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }

  .app .row-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }

  .column, .column-1 {
    flex: 1 1 200px;  /* flex-grow, flex-shrink, flex-basis */
    margin: 10px;  /* Adjust margin for spacing */
    display:flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  /* Styles for individual skill blocks */
.app .skills-2, .app .skills-3, .app .skills-4, .app .skills-5, .app .skills-6, .app .skills-7, .app .skills-8, .app .skills-9, .app .skills-10, .app .skills-11 {
  border-radius: 4px;
  border: 2px solid var(--primary-black, #000000);
  background: var(--primary-white, #FFFFFF);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px; /* Fixed width for consistency */
  height: 150px; /* Fixed height for consistency */
  margin-bottom: 20px; /* Space between skill blocks */
}
  
  .app .skills-3 {
    border-radius: 4px;
    border: 2px solid var(--primary-black, #000000);
    background: var(--primary-black, #000000);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
  }

  .app .javascript {
    overflow-wrap: break-word;
    font-family: var(--heading-h-5-bold-font-family, 'Sora');
    font-weight: var(--heading-h-5-bold-font-weight, 700);
    font-size: var(--heading-h-5-bold-font-size, 20px);
    letter-spacing: var(--heading-h-5-bold-letter-spacing, -0.4px);
    line-height: var(--heading-h-5-bold-line-height, 1.2);
    text-transform: var(--heading-h-5-bold-text-transform, capitalize);
    color: var(--primary-black, #000000);
  }

  .app .icon-git {
    margin-bottom: 10.8px;
    display: flex;
    width: 44.3px;
    height: 44.3px;
    box-sizing: border-box;
  }
  .app .vector-41 {
    width: 44.3px;
    height: 44.3px;
  }
  .app .icon-javscript {
    background: #FFFFFF;
    position: relative;
    margin-top: 5.8px;
    display: flex;
    padding: 22.9px 6.2px 6.2px 14.5px;
    width: 56px;
    height: 56px;
    box-sizing: border-box;
  }
  .app .vector-43 {
    width: 35.3px;
    height: 24.9px;
  }
  .app .javascript-1 {
    overflow-wrap: break-word;
    font-family: var(--heading-h-5-bold-font-family, 'Sora');
    font-weight: var(--heading-h-5-bold-font-weight, 700);
    font-size: var(--heading-h-5-bold-font-size, 20px);
    letter-spacing: var(--heading-h-5-bold-letter-spacing, -0.4px);
    line-height: var(--heading-h-5-bold-line-height, 1.2);
    text-transform: var(--heading-h-5-bold-text-transform, capitalize);
    color: var(--primary-white, #FFFFFF);
  }
  .app .javascript-2 {
    overflow-wrap: break-word;
    font-family: var(--heading-h-5-bold-font-family, 'Sora');
    font-weight: var(--heading-h-5-bold-font-weight, 700);
    font-size: var(--heading-h-5-bold-font-size, 20px);
    letter-spacing: var(--heading-h-5-bold-letter-spacing, -0.4px);
    line-height: var(--heading-h-5-bold-line-height, 1.2);
    text-transform: var(--heading-h-5-bold-text-transform, capitalize);
    color: var(--primary-black, #000000);
  }
  .app .icon-react {
    margin-bottom: 10.8px;
    width: 56px;
    height: 56px;
  }
  .app .javascript-3 {
    overflow-wrap: break-word;
    font-family: var(--heading-h-5-bold-font-family, 'Sora');
    font-weight: var(--heading-h-5-bold-font-weight, 700);
    font-size: var(--heading-h-5-bold-font-size, 20px);
    letter-spacing: var(--heading-h-5-bold-letter-spacing, -0.4px);
    line-height: var(--heading-h-5-bold-line-height, 1.2);
    text-transform: var(--heading-h-5-bold-text-transform, capitalize);
    color: var(--primary-black, #000000);
  }
  .app .logosnodejs {
    margin-bottom: 10.8px;
    display: flex;
    width: 77.9px;
    height: 51.9px;
    box-sizing: border-box;
  }
  .app .group-24 {
    width: 77.9px;
    height: 51.9px;
  }
  .app .javascript-4 {
    overflow-wrap: break-word;
    font-family: var(--heading-h-5-bold-font-family, 'Sora');
    font-weight: var(--heading-h-5-bold-font-weight, 700);
    font-size: var(--heading-h-5-bold-font-size, 20px);
    letter-spacing: var(--heading-h-5-bold-letter-spacing, -0.4px);
    line-height: var(--heading-h-5-bold-line-height, 2.2);
    text-transform: var(--heading-h-5-bold-text-transform, capitalize);
    color: var(--primary-black, #000000);
  }
  .app .icon-docker {
    margin: 10px 0px 10.9px 0;
    display: flex;
    width: 56px;
    height: 40.3px;
    box-sizing: border-box;
  }
  .app .vector-52 {
    width: 56px;
    height: 40.3px;
  }

  .app .javascript-5 {
    overflow-wrap: break-word;
    font-family: var(--heading-h-5-bold-font-family, 'Sora');
    font-weight: var(--heading-h-5-bold-font-weight, 700);
    font-size: var(--heading-h-5-bold-font-size, 20px);
    letter-spacing: var(--heading-h-5-bold-letter-spacing, -0.4px);
    line-height: var(--heading-h-5-bold-line-height, 1.2);
    text-transform: var(--heading-h-5-bold-text-transform, capitalize);
    color: var(--primary-black, #000000);
  }
  .app .icon-git-1 {
    margin-bottom: 37.8px;
    display: flex;
    width: 44.3px;
    height: 44.3px;
    box-sizing: border-box;
  }
  .app .vector-53 {
    width: 44.3px;
    height: 44.3px;
  }
  .app .javascript-6, .app .javascript-9  {
    overflow-wrap: break-word;
    font-family: var(--heading-h-5-bold-font-family, 'Sora');
    font-weight: var(--heading-h-5-bold-font-weight, 700);
    font-size: var(--heading-h-5-bold-font-size, 20px);
    letter-spacing: var(--heading-h-5-bold-letter-spacing, -0.4px);
    line-height: var(--heading-h-5-bold-line-height, 1.2);
    text-transform: var(--heading-h-5-bold-text-transform, capitalize);
    color: var(--primary-black, #000000);
  }

  .app .icon-socket {
    margin: 0 0px 32px 0;
    display: flex;
    width: 56px;
    height: 55.9px;
    box-sizing: border-box;
  }
  .app .icon-storybook{
    margin: 0 0px 32px 0;
    display: flex;
    width: 56px;
    height: 55.9px;
    box-sizing: border-box;
  }
  .app .vector-54 {
    width: 56px;
    height: 55.9px;
  }
  .app .javascript-7 {
    overflow-wrap: break-word;
    font-family: var(--heading-h-5-bold-font-family, 'Sora');
    font-weight: var(--heading-h-5-bold-font-weight, 700);
    font-size: var(--heading-h-5-bold-font-size, 20px);
    letter-spacing: var(--heading-h-5-bold-letter-spacing, -0.4px);
    line-height: var(--heading-h-5-bold-line-height, 1.2);
    text-transform: var(--heading-h-5-bold-text-transform, capitalize);
    color: var(--primary-black, #000000);
  }
  .app .icon-sass {
    margin-bottom: 41.4px;
    display: flex;
    width: 51.3px;
    height: 38.5px;
    box-sizing: border-box;
  }

  .app .javascript-8 {
    overflow-wrap: break-word;
    font-family: var(--heading-h-5-bold-font-family, 'Sora');
    font-weight: var(--heading-h-5-bold-font-weight, 700);
    font-size: var(--heading-h-5-bold-font-size, 20px);
    letter-spacing: var(--heading-h-5-bold-letter-spacing, -0.4px);
    line-height: var(--heading-h-5-bold-line-height, 1.2);
    text-transform: var(--heading-h-5-bold-text-transform, capitalize);
    color: var(--primary-black, #000000);
  }
  .app .vector-55 {
    width: 51.3px;
    height: 38.5px;
  }

  @media (max-width: 1020px) {
    .skills{
      width: 100%;
    }
    .app .row{
      flex-direction: column;
    }

    .app .skills-1{
      display: flex;
      justify-content: center;
    }

    .app .row-1 {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around; /* Aligns items nicely with space around them */
      align-items: center; /* Centers items vertically */
      width: 30%; /* Ensures the row takes full width */
      box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  }
  
  .column, .column-1 {
      flex: 1 1 35%; /* Initially allows two columns, adjusting flex-basis to allow wrapping */
      display: flex;
      flex-direction: column; /* Stacks items vertically */
      align-items: center; /* Center items horizontally within each column */
      justify-content: center; /* Center items vertically within each column */
      margin: 10px; /* Space between columns */
      width: 50%; /* Ensure columns do not exceed the width of the container */
  }  
  }
  