/* Reset CSS to handle margins, padding, and box-sizing */
html, body, #root, .app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #FFFFFF; /* Set a white background for all */
}

/* Ensure that the content uses the full available width and is centered */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh; /* Full view height */
}

/* Additional global style adjustments */
body {
  font-family: 'Sora', sans-serif; /* Ensure your preferred font is used */
  color: #333; /* Standard text color */
  line-height: 1.6; /* Adequate line height for readability */
  overflow-x: hidden; /* Hide horizontal scroll */
}

/* Styling for the About Me section */
.about-me {
  width: 90%; /* Adjust width as needed */
  max-width: 1200px; /* Maximum width for larger screens */
  margin: 0 auto; /* Center the about-me section horizontally */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

/* Styling for the About Me image */
.about-me-image {
  width: 30%; /* Reduced from 40% to 30% */
  height: auto; /* Maintain aspect ratio */
  margin-right: 20px; /* Space between image and text */
  border-radius: 8px; /* Optional: Adds rounded corners */
}

/* Ensure the text section takes up the remaining space */
.about-me-text {
  width: 70%; /* Increased from 60% to 70% */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .about-me-image {
      width: 80%; /* Larger relative width on smaller screens */
      margin-bottom: 20px; /* Space between image and text on smaller screens */
  }

  .about-me-text {
      width: 100%; /* Full width on smaller screens */
  }
}
