/* Reset CSS to handle margins, padding, and box-sizing */
html, body, #root, .app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #FFFFFF; /* Set a white background for all */
}

/* Ensure that the content uses the full available width and is centered */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: fit-content;
}

/* Additional global style adjustments */
body {
  font-family: 'Sora', sans-serif; /* Ensure your preferred font is used */
  color: #333; /* Standard text color */
  line-height: 1.6; /* Adequate line height for readability */
  overflow-x: hidden; /* Hide horizontal scroll */
}

/* Styling for the About Me section */
.about-me {
  width: 100%; /* Adjust width as needed */
  max-width: 1400px; /* Maximum width for larger screens */
  margin: 0 auto; /* Center the about-me section horizontally */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px 60px 0px;
  
}

/* Styling for the About Me image */
.about-me-image {
  width: 25%; /* Reduced from 40% to 30% */
  height: auto; /* Maintain aspect ratio */
  margin-right: 5%; /* Space between image and text */
  border-radius: 8px; /* Optional: Adds rounded corners */
  margin-top: 45px; 
  margin-left: 20px;
}

/* Ensure the text section takes up the remaining space */
.about-me-text {
  width: 65%; /* Increased from 60% to 70% */
  margin-right: 40px;
}

.calendar {
  height: auto; /* Maintain aspect ratio */
  margin-top: 40px; /* Space between text and calendar */
  align-items: center; /* Center the calendar horizontally */
  margin-bottom: 40px;
  transform: scale(1.2);
  padding-top: 10px;
  
}

.calendar-github {
  background-color: black;  /* Sets the background color of the container */
  color: white;  /* Sets the text color */
  width: 100%;  /* Ensures the container spans the full width */
  display: flex;  /* Enables flexbox layout */
  flex-direction: column;  /* Stacks the child elements vertically */
  align-items: center;  /* Centers the child elements horizontally */
  justify-content: center;  /* Centers the child elements vertically */
  padding-top: 20px;  /* Adds space at the top */
  padding-bottom: 80px;  /* Adds space at the bottom */
  margin-bottom: 10px; 
}


/* Responsive adjustments */
@media (max-width: 1020px) {
  .about-me-image {
      width: 80%; /* Larger relative width on smaller screens */
      margin-bottom: 20px; /* Space between image and text on smaller screens */
      margin-left: 32px;
  }

  .about-me-text {
      width: 100%; /* Full width on smaller screens */
  }

  .about-me {
      width: 80%;
      flex-direction: column; /* Stack image and text on smaller screens */
      margin: 0 5% 0 5%; /* Reduced horizontal margin */
  }
 .calendar{
  transform: scale(1.0);
 }
}

@media (max-width: 600px) {
  .calendar{
    transform: scale(0.7);
   }
  
}