.app {
  background: #FFFFFF;
  display: flex; /* This enables flexbox */
  flex-direction: column; /* Children are stacked vertically */
  justify-content: center; /* Aligns children in the center vertically */
  align-items: center; /* Aligns children in the center horizontally */
  width: 100%; /* Takes the full width of the viewport */
}



