.app {
  background: #FFFFFF;
  display: flex; /* This enables flexbox */
  flex-direction: column; /* Children are stacked vertically */
  justify-content: center; /* Aligns children in the center vertically */
  align-items: center; /* Aligns children in the center horizontally */
  width: 100%; /* Takes the full width of the viewport */
}



.app .frame-1000015861 {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}

.app .image-7701 {
  box-shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.12), 0px 12px 42px -4px rgba(24, 39, 75, 0.12);
  border-radius: 18.8px;
  background: url('assets/images/Image771.jpeg');
  width: 530px;
  height: 397.7px;
}
.app .heading {
  margin: 0 0.1px 99.1px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.app .my-2 {
  margin-right: 16.5px;
  overflow-wrap: break-word;
  font-family: var(--displaytext-regular-font-family, 'Sora');
  font-weight: var(--displaytext-regular-font-weight, 400);
  font-size: var(--displaytext-regular-font-size, 48px);
  letter-spacing: var(--displaytext-regular-letter-spacing, -1px);
  line-height: var(--displaytext-regular-line-height, 1.167);
  color: var(--primary-white, #FFFFFF);
}
.app .projects {
  overflow-wrap: break-word;
  font-family: var(--displaytext-extra-bold-font-family, 'Sora');
  font-weight: var(--displaytext-extra-bold-font-weight, 800);
  font-size: var(--displaytext-extra-bold-font-size, 48px);
  letter-spacing: var(--displaytext-extra-bold-letter-spacing, -1px);
  line-height: var(--displaytext-extra-bold-line-height, 1.167);
  color: var(--primary-white, #FFFFFF);
}

.app .footer {
  background: var(--primary-black, #000000);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 112px 24px 120.4px;
  width: 1440px;
  box-sizing: border-box;
}
.app .frame-16 {
  margin: 8.6px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.app .frame-1000015869 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.app .personal {
  margin-bottom: 12px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--heading-h-6-semibold-font-family, 'Sora');
  font-weight: var(--heading-h-6-semibold-font-weight, 600);
  font-size: var(--heading-h-6-semibold-font-size, 26px);
  letter-spacing: var(--heading-h-6-semibold-letter-spacing, -0.3px);
  line-height: var(--heading-h-6-semibold-line-height, 1.25);
  color: var(--primary-white, #FFFFFF);
}
.app .made-in-figma {
  overflow-wrap: break-word;
  font-family: var(--heading-h-6-semibold-font-family, 'Sora');
  font-weight: var(--heading-h-6-semibold-font-weight, 600);
  font-size: var(--heading-h-6-semibold-font-size, 16px);
  letter-spacing: var(--heading-h-6-semibold-letter-spacing, -0.3px);
  line-height: var(--heading-h-6-semibold-line-height, 1.25);
  color: var(--primary-white, #FFFFFF);
}
.app .button-1 {
  border-radius: 4px;
  background: var(--primary-black, #000000);
  margin-right: 32px;
  display: flex;
  padding: 18px;
  width: 56px;
  height: 56px;
  box-sizing: border-box;
}
.app .button-2 {
  border-radius: 4px;
  border: 2px solid var(--primary-black, #000000);
  display: flex;
  padding: 13px 10px;
  width: 56px;
  height: 56px;
  box-sizing: border-box;
}

.app .frame-1000015874 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}


.app .testimonial {
  background: var(--primary-white, #FFFFFF);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 136px 100px 136px;
  width: 100%;
  box-sizing: border-box;
}
.app .row-2 {
  margin: 0 0px 80px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.app .my-3 {
  margin-right: 16.5px;
  overflow-wrap: break-word;
  font-family: var(--displaytext-regular-font-family, 'Sora');
  font-weight: var(--displaytext-regular-font-weight, 400);
  font-size: var(--displaytext-regular-font-size, 48px);
  letter-spacing: var(--displaytext-regular-letter-spacing, -1px);
  line-height: var(--displaytext-regular-line-height, 1.167);
  color: #000000;
}
.app .testimonial-1 {
  overflow-wrap: break-word;
  font-family: var(--displaytext-extra-bold-font-family, 'Sora');
  font-weight: var(--displaytext-extra-bold-font-weight, 800);
  font-size: var(--displaytext-extra-bold-font-size, 48px);
  letter-spacing: var(--displaytext-extra-bold-letter-spacing, -1px);
  line-height: var(--displaytext-extra-bold-line-height, 1.167);
  color: #000000;
}
.app .row-3 {
  display: flex;
  flex-direction: row;
  column-gap: 29px;
  width: 1168px;
  box-sizing: border-box;
}
.app .testimonial-2 {
  box-shadow: 0px 6px 8px -6px rgba(24, 39, 75, 0.12), 0px 8px 16px -6px rgba(24, 39, 75, 0.08);
  border-radius: 20px;
  background: var(--primary-white, #FFFFFF);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 370px;
}
.app .testimonial-3 {
  box-shadow: 0px 6px 8px -6px rgba(24, 39, 75, 0.12), 0px 8px 16px -6px rgba(24, 39, 75, 0.08);
  border-radius: 20px;
  background: var(--primary-black, #000000);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 370px;
}
.app .testimonial-4 {
  box-shadow: 0px 6px 8px -6px rgba(24, 39, 75, 0.12), 0px 8px 16px -6px rgba(24, 39, 75, 0.08);
  border-radius: 20px;
  background: var(--primary-white, #FFFFFF);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 370px;
}





.app .icon-nest {
  margin: 0 0.5px 32.5px 0;
  display: flex;
  width: 53px;
  height: 54.6px;
  box-sizing: border-box;
}
.app .vector-56 {
  width: 60px;
  height: 70px;
}


.app .javascript-9 {
  overflow-wrap: break-word;
  font-family: var(--heading-h-5-bold-font-family, 'Sora');
  font-weight: var(--heading-h-5-bold-font-weight, 700);
  font-size: var(--heading-h-5-bold-font-size, 20px);
  letter-spacing: var(--heading-h-5-bold-letter-spacing, -0.4px);
  line-height: var(--heading-h-5-bold-line-height, 1.2);
  text-transform: var(--heading-h-5-bold-text-transform, capitalize);
  color: var(--primary-black, #000000);
}
.app .icon-storybook {
  margin-bottom: 32px;
  width: 56px;
  height: 56px;
}
.app .export {
  width: 20px;
  height: 20px;
}
.app .export-1 {
  width: 20px;
  height: 20px;
}
.app .export-2 {
  width: 20px;
  height: 20px;
}
.app .frame-1000015865 {
  border-radius: 4px;
  border: 1.4px solid var(--primary-black, #000000);
  padding: 16.6px 22.6px;
  box-sizing: border-box;
}
.app .your-name {
  overflow-wrap: break-word;
  font-family: var(--heading-h-6-regular-font-family, 'Sora');
  font-weight: var(--heading-h-6-regular-font-weight, 400);
  font-size: var(--heading-h-6-regular-font-size, 16px);
  letter-spacing: var(--heading-h-6-regular-letter-spacing, -0.3px);
  line-height: var(--heading-h-6-regular-line-height, 1.25);
  color: var(--zinc-500, #71717A);
}
.app .frame-10000158651 {
  border-radius: 4px;
  border: 1.4px solid var(--primary-black, #000000);
  padding: 16.6px 22.6px;
  box-sizing: border-box;
}
.app .your-name-1 {
  overflow-wrap: break-word;
  font-family: var(--heading-h-6-regular-font-family, 'Sora');
  font-weight: var(--heading-h-6-regular-font-weight, 400);
  font-size: var(--heading-h-6-regular-font-size, 16px);
  letter-spacing: var(--heading-h-6-regular-letter-spacing, -0.3px);
  line-height: var(--heading-h-6-regular-line-height, 1.25);
  color: var(--zinc-500, #71717A);
}
.app .frame-10000158652 {
  border-radius: 4px;
  border: 1.4px solid var(--primary-black, #000000);
  padding: 16.6px 22.6px;
  box-sizing: border-box;
}
.app .your-name-2 {
  overflow-wrap: break-word;
  font-family: var(--heading-h-6-regular-font-family, 'Sora');
  font-weight: var(--heading-h-6-regular-font-weight, 400);
  font-size: var(--heading-h-6-regular-font-size, 16px);
  letter-spacing: var(--heading-h-6-regular-letter-spacing, -0.3px);
  line-height: var(--heading-h-6-regular-line-height, 1.25);
  color: var(--zinc-500, #71717A);
}
.app .frame-10000158653 {
  border-radius: 4px;
  border: 1.4px solid var(--primary-black, #000000);
  padding: 14.6px 22.6px 102.6px 22.6px;
  box-sizing: border-box;
}
.app .how-can-ihelp {
  overflow-wrap: break-word;
  font-family: var(--heading-h-6-regular-font-family, 'Sora');
  font-weight: var(--heading-h-6-regular-font-weight, 400);
  font-size: var(--heading-h-6-regular-font-size, 16px);
  letter-spacing: var(--heading-h-6-regular-letter-spacing, -0.3px);
  line-height: var(--heading-h-6-regular-line-height, 1.25);
  color: var(--zinc-500, #71717A);
}
.app .vector-68 {
  width: 20px;
  height: 20px;
}
.app .vector-69 {
  width: 35px;
  height: 30px;
}
.app .resume {
  overflow-wrap: break-word;
  font-family: var(--button-text-semi-bold-font-family, 'Sora');
  font-weight: var(--button-text-semi-bold-font-weight, 600);
  font-size: var(--button-text-semi-bold-font-size, 30px);
  letter-spacing: var(--button-text-semi-bold-letter-spacing, 0.4px);
  line-height: var(--button-text-semi-bold-line-height, 1.2);
  color: var(--primary-white, #FFFFFF);
}
.app .vector-70 {
  width: 20px;
  height: 19.9px;
}
.app .subtract {
  width: 20px;
  height: 20px;
}
.app .vector-71 {
  width: 20px;
  height: 16.3px;
}
.app .group-1 {
  width: 17.5px;
  height: 20px;
}
.app .ellipse-2665 {
  border-radius: 15px;
  background: var(--primary-black, #000000);
  position: absolute;
  top: 66px;
  right: 0px;
  width: 30px;
  height: 30px;
}
.app .vector-76 {
  position: absolute;
  right: 8.1px;
  bottom: 10.7px;
  width: 12.9px;
  height: 9.3px;
}
.app .irecently-had-to-jump-on-10-different-calls-across-eight-different-countries-to-find-the-right-owner {
  margin-bottom: 24px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--button-text-2-regular-font-family, 'Sora');
  font-weight: var(--button-text-2-regular-font-weight, 400);
  font-size: var(--button-text-2-regular-font-size, 16px);
  letter-spacing: var(--button-text-2-regular-letter-spacing, 0.3px);
  line-height: var(--button-text-2-regular-line-height, 1.25);
  color: var(--primary-neutral, #404040);
}
.app .rectangle-7322 {
  background: var(--primary-black, #000000);
  margin-bottom: 24px;
  width: 120px;
  height: 2px;
}
.app .designer {
  overflow-wrap: break-word;
  font-family: var(--heading-h-6-semibold-font-family, 'Sora');
  font-weight: var(--heading-h-6-semibold-font-weight, 600);
  font-size: var(--heading-h-6-semibold-font-size, 16px);
  letter-spacing: var(--heading-h-6-semibold-letter-spacing, -0.3px);
  line-height: var(--heading-h-6-semibold-line-height, 1.25);
  color: var(--zinc-500, #71717A);
}
.app .evren-shah {
  margin-bottom: 24px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--heading-h-5-semibold-font-family, 'Sora');
  font-weight: var(--heading-h-5-semibold-font-weight, 600);
  font-size: var(--heading-h-5-semibold-font-size, 20px);
  letter-spacing: var(--heading-h-5-semibold-letter-spacing, -0.4px);
  line-height: var(--heading-h-5-semibold-line-height, 1.2);
  text-transform: var(--heading-h-5-semibold-text-transform, capitalize);
  color: var(--primary-neutral, #404040);
}
.app .frame-18 {
  border-radius: 48px;
  background: url('assets/images/Ellipse2664.png') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 24px;
  width: 96px;
  height: 96px;
}
.app .frame-181 {
  border-radius: 48px;
  background: url('assets/images/Ellipse26641.jpeg') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 24px;
  width: 96px;
  height: 96px;
}
.app .ellipse-26651 {
  border-radius: 15px;
  background: var(--primary-white, #FFFFFF);
  position: absolute;
  top: 66px;
  right: 0px;
  width: 30px;
  height: 30px;
}
.app .vector-77 {
  position: absolute;
  right: 8.1px;
  bottom: 10.7px;
  width: 12.9px;
  height: 9.3px;
}
.app .irecently-had-to-jump-on-10-different-calls-across-eight-different-countries-to-find-the-right-owner-1 {
  margin-bottom: 24px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--button-text-2-regular-font-family, 'Sora');
  font-weight: var(--button-text-2-regular-font-weight, 400);
  font-size: var(--button-text-2-regular-font-size, 16px);
  letter-spacing: var(--button-text-2-regular-letter-spacing, 0.3px);
  line-height: var(--button-text-2-regular-line-height, 1.25);
  color: var(--primary-white, #FFFFFF);
}
.app .rectangle-73221 {
  background: var(--primary-white, #FFFFFF);
  margin-bottom: 24px;
  width: 120px;
  height: 2px;
}
.app .evren-shah-1 {
  margin-bottom: 24px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--heading-h-5-semibold-font-family, 'Sora');
  font-weight: var(--heading-h-5-semibold-font-weight, 600);
  font-size: var(--heading-h-5-semibold-font-size, 20px);
  letter-spacing: var(--heading-h-5-semibold-letter-spacing, -0.4px);
  line-height: var(--heading-h-5-semibold-line-height, 1.2);
  text-transform: var(--heading-h-5-semibold-text-transform, capitalize);
  color: var(--primary-white, #FFFFFF);
}
.app .designer-1 {
  overflow-wrap: break-word;
  font-family: var(--heading-h-6-semibold-font-family, 'Sora');
  font-weight: var(--heading-h-6-semibold-font-weight, 600);
  font-size: var(--heading-h-6-semibold-font-size, 16px);
  letter-spacing: var(--heading-h-6-semibold-letter-spacing, -0.3px);
  line-height: var(--heading-h-6-semibold-line-height, 1.25);
  color: var(--primary-white, #FFFFFF);
}
.app .ellipse-26652 {
  border-radius: 15px;
  background: var(--primary-black, #000000);
  position: absolute;
  top: 66px;
  right: 0px;
  width: 30px;
  height: 30px;
}
.app .vector-78 {
  position: absolute;
  right: 8.1px;
  bottom: 10.7px;
  width: 12.9px;
  height: 9.3px;
}
.app .irecently-had-to-jump-on-10-different-calls-across-eight-different-countries-to-find-the-right-owner-2 {
  margin-bottom: 24px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--button-text-2-regular-font-family, 'Sora');
  font-weight: var(--button-text-2-regular-font-weight, 400);
  font-size: var(--button-text-2-regular-font-size, 16px);
  letter-spacing: var(--button-text-2-regular-letter-spacing, 0.3px);
  line-height: var(--button-text-2-regular-line-height, 1.25);
  color: var(--primary-neutral, #404040);
}
.app .rectangle-73222 {
  background: var(--primary-black, #000000);
  margin-bottom: 24px;
  width: 120px;
  height: 2px;
}
.app .designer-2 {
  overflow-wrap: break-word;
  font-family: var(--heading-h-6-semibold-font-family, 'Sora');
  font-weight: var(--heading-h-6-semibold-font-weight, 600);
  font-size: var(--heading-h-6-semibold-font-size, 16px);
  letter-spacing: var(--heading-h-6-semibold-letter-spacing, -0.3px);
  line-height: var(--heading-h-6-semibold-line-height, 1.25);
  color: var(--zinc-500, #71717A);
}
.app .evren-shah-2 {
  margin-bottom: 24px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--heading-h-5-semibold-font-family, 'Sora');
  font-weight: var(--heading-h-5-semibold-font-weight, 600);
  font-size: var(--heading-h-5-semibold-font-size, 20px);
  letter-spacing: var(--heading-h-5-semibold-letter-spacing, -0.4px);
  line-height: var(--heading-h-5-semibold-line-height, 1.2);
  text-transform: var(--heading-h-5-semibold-text-transform, capitalize);
  color: var(--primary-neutral, #404040);
}
.app .frame-182 {
  border-radius: 48px;
  background: url('assets/images/Ellipse2664.png') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 24px;
  width: 96px;
  height: 96px;
}


