.project-container {
  width: 100%;
  padding: 20px;
  background: #ffffff; /* Change as per your design requirement */
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-header {
  margin-bottom: 50px;
  font-size: 36px;
  color: #000;
}

.project-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  width: 80%;
}

.project-item.reversed {
  flex-direction: row-reverse;
}

.project-image {
  width: 45%;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 0 20px;
}

.project-content {
  width: 45%;
  text-align: left;
  padding: 20px;
}

.project-id {
  font-size: 24px;
  color: #838080;
}

.project-title {
  font-size: 22px;
  margin-top: 5px;
}

.project-description {
  font-size: 16px;
  margin-top: 5px;
}

.read-more-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  color: #fff;
  padding: 0px 10px;
  text-decoration: none;
}

.read-more-link img {
  width: 16px; /* Adjust the size of the icon */
  height: auto;
  margin-right: 5px; /* Adds spacing between the icon and the text */
}


/* Responsive styles for mobile devices */
@media (max-width: 768px) {
  .project-header {
    font-size: 24px; /* Smaller font size for mobile */
  }

  .project-item, .project-item.reversed {
    flex-direction: column;
    align-items: center;
  }

  .project-image, .project-content {
    width: 100%; /* Full width for smaller screens */
    margin: 10px 0; /* Adjust margin for stacked layout */
  }

  .project-id {
    font-size: 18px; /* Smaller font size for mobile */
  }

  .project-title {
    font-size: 20px; /* Adjust title size for better readability on mobile */
  }

  .project-description {
    font-size: 14px; /* Smaller text for descriptions on mobile */
  }
}